/* your code here */
*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}
footer{
	background-color:black;
	color:white;
}
.top{
	padding:25px;
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.top .logo-details{
	font-size:28px;
	font-family:"Arial",sans-serif;
}
.top .media-icons{
	display:flex;
	.fa {
		padding: 10px;
		font-size:12px;
		width: 30px;
		text-align: center;
		text-decoration: none;
		margin:0px 2px;
	}
	.fa-facebook {
		background: #3B5998;
		color: white;
		border-radius:50%;
	}
	.fa-twitter {
		background: #55ACEE;
		color: white;
		border-radius:50%;
	}
	.fa-instagram {
		background:#e4376e;
		color:white;
		border-radius:50%
	}
	.fa-linkedin {
		background: #007bb5;
		color: white;
		border-radius:50%;
	}

	.fa-youtube {
		background: #bb0000;
		color: white;
		border-radius:50%;
	}
}
.link-boxes{
	padding:25px;
	display:flex;
	justify-content:space-between;
}
.link-boxes>div>ul>li{
	list-style-type:none;
}
h4{
	text-decoration:underline;
	text-underline-offset:5px;
	text-underline-position: right;
}
.link-boxes>div>ul{
	margin-top:6px;
}
.link-boxes>div>ul>li>a{
	text-decoration:none;
	color:white;
}

.bottom-details{
	background-color:rgb(44,48,58);
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding: 10px 25px;
	font-size:12px
}